<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
    {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}
  {{ partial "katex.html" . }}
</head>

<body>
  {{ partialCached "banner.html" . }}
  <main>
    <div class="u-wrapper u-article-background">
      <div class="u-padding">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>
  {{ partialCached "footer.html" . }}
</body>

</html>
