{{ $taxonomy_list := slice }}

{{ range $taxonomy, $_ := site.Taxonomies }}
  {{ $taxonomy_list = $taxonomy_list | append $taxonomy }}
{{ end }}

{{ $taxonomy_is_used_list := apply $taxonomy_list "isset" .Params "." }}

{{ if true | in $taxonomy_is_used_list }}
  <footer>
    {{ range $taxonomy := $taxonomy_list }}
      {{ if isset $.Params $taxonomy }}
        <ul class="Tags">
          {{ range $.GetTerms $taxonomy }}
            <li class="Tags-item u-background">
              <a class="Tags-link u-clickable" href="{{ .RelPermalink }}" rel="tag">{{ .LinkTitle }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </footer>
{{ end }}
